#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.headline{
 text-align: center;
}

h2{
    font-size: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
}

.noidungtrai{
    width: 450px;
    height: 400px;
    float: left;
}

.noidungphai{
    width:1190px;
    height: 400px;
}

#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #e1e1ba;
}
#menu {
    list-style:none;
    display: flex;
}

#menu .item {
    margin:0px 25px;
}

#menu .item a {
    color:#ae0023;
    text-decoration: none;
}
#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
img{
    padding-top: 5px;
}

.cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    margin-left: 200px;
}
.cart table{
    width: 800px;
}
.cart table tr td{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
tr:hover{
    background-color:#ddd;
    cursor:pointer;
}


#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:30px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}

#footer .box .quick-menu .item{
    margin-bottom:12px;
}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}
.tongtien{
    align-items: center;
    float: left;
}
.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn1,.btn2{
    color: #3498db;
  }
  .btn3,.btn4{
    color: #fff;
  }
  .btn1:hover,.btn2:hover{
    color: #fff;
  }
  .btn3:hover,.btn4:hover{
    color: #3498db;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #50a887;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }
